<div class="row">
  <div class = "col-md-6 col-md-offset-3">
  <% if params[:plan] == '2' %>
  <h1 class = "contact_form text-center">Pro account</h1>
  <p class = "contact_form text-center">Sign up for a premium subscription of 10 monthly</p>
  <% else %>
  <h1 class = "contact_form text-center">Basic account</h1>
  <p class = "contact_form text-center">Sign up for free with a basic account</p>
  <% end %>
  </div>
  
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="well">
    <h2>Sign up</h2>
    
    <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
    
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
