@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body{
background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact_form {
    color:#FCF8F7;
}

.alert-notice {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}

.alert-alert {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}

.profile_signup h1, p{
    color:#FCF8F7;
}